<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('layout/header.ejs'); -%>
    <body >
        <!-- Navigation-->
        <%- include('layout/navbar.ejs'); -%>
            <!-- Dashboard Page-->       
            <div class="masthead d-flex align-items-center justify-content-center"
                style="background-color: azure; height: 400px; ">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-xl-7 ">
                        <div class="site-heading">
                            <h1 style="font-size: 80px; color: burlywood;">Dashboard</h1>
                            <p class="text-nowrap h3" style="color: burlywood;">DriveTest Booking Kiosk</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 d-flex justify-content-center">
                        <div class="post-preview">

                            <h3 class="post-title">
                                You can book G2/G drive test from <br /> this Kiosk
                            </h3>
                            <h4 class="post-subtitle">
                                You can book G2/G drive test from this Kiosk
                            </h4>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">DriveTest Center</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer-->
            <%- include('layout/footer.ejs'); -%>

            <!-- Script  -->
            <%- include('layout/script.ejs'); -%>

    </body>

</html>