<!DOCTYPE html>
<html lang="en">
<%- include('layout/header.ejs'); -%>

  <body>
    <!-- Navigation-->
    <%- include('layout/navbar.ejs'); -%>
      <!-- Main Content-->
      <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                <h1>G2_Test</h1>
                <span class="subheading">G2_Test Booking page.</span>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="mb-4">
        <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 my-5">
              <h2>Select timeslot</h2>
              <div class="mb-5">
                <div>
                  <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="selectedDate" name="date" required>
                  </div>
                  <div class="col-12">
                    <button id="fetchSlotsButton" class="btn btn-secondary" type="button">Fetch Slots</button>
                  </div>
                </div>
                <div class="mt-4">
                  <div class="mb-3">
                    <label class="form-label">Slots Available</label>
                    <select class="w-100" id="appointmentId" name="appointmentId" class="form-select"
                      aria-label="Select Time Slot" required>
                      <option value="">
                      </option>
                    </select>
                  </div>
                  <div class="col-12">
                    <button id="bookSlot" class="btn btn-secondary" type="button">Book Slot</button>
                  </div>
                </div>
              </div>

              <!-- For Personal Info -->
              <div class="mb-5">
                <h2>Personal Information</h2>
                <form id="contactForm" action="/addUserData" method="POST">
                  <div class="form-floating my-3">
                    <input class="form-control" name="firstName" id="firstName" type="text"
                      placeholder="Enter your first name" required />
                    <label for="firstName">First Name</label>
                    <span class="error-message" id="firstname-error" style="color: red;"></span>
                  </div>

                  <div class="form-floating my-3">
                    <input class="form-control" name="lastName" id="lastName" type="text"
                      placeholder="Enter your last name" required />
                    <label for="lastName">Last Name</label>
                    <span class="error-message" id="lastname-error" style="color: red;"></span>
                  </div>

                  <div class="form-floating my-3">
                    <input class="form-control" name="licenceNumber" id="licenceNumber" type="text"
                      placeholder="Enter your license number..." required />
                    <label for="licenceNumber">License Plat Number</label>
                    <span class="error-message" id="make-error" style="color: red;"></span>
                  </div>

                  <div class="form-floating my-3">
                    <input class="form-control" name="Age" id="Age" type="number" min="18" max="60" placeholder="Age"
                      required />
                    <label for="Age">Age</label>
                    <span class="error-message" id="make-error" style="color: red;"></span>
                  </div>

                  <div class="form-floating my-3">
                    <input class="form-control " name="Dob" id="Dob" type="date" placeholder="Date of birth" required />
                    <label for="Dob">DOB</label>
                    <span class="error-message" id="make-error" style="color: red;"></span>
                  </div>

                  <br />

                  <!--For Car details -->
                  <h2 class="my-5">Car Details</h2>

                  <div class="form-floating my-3">
                    <input class="form-control" name="make" id="make" type="text" placeholder="Car's ie make"
                      required />
                    <label for="make">Make</label>
                    <span class="error-message" id="make-error" style="color: red;"></span>
                  </div>

                  <div class="form-floating my-3">
                    <input class="form-control" name="model" id="model" type="text" placeholder="Car's model"
                      required />
                    <label for="model">Model</label>
                    <span class="error-message" id="model-error" style="color: red;"></span>
                  </div>

                  <div class="form-floating my-3">
                    <input class="form-control" name="year" id="year" type="number" placeholder="Car's year" required />
                    <label for="year">Year</label>
                    <span class="error-message" id="year-error" style="color: red;"></span>
                  </div>

                  <div class="form-floating my-3">
                    <input class="form-control" name="platno" pattern="[A-Za-z0-9]{8}" id="platno" type="text"
                      placeholder="Car's plat number"
                      title="Please enter a valid plat number (8 characters of letters and digits)" required />
                    <label for="platno">Plat Number</label>
                    <span class="error-message" id="platno-error" style="color: rgb(244, 40, 40);"></span>
                  </div>
                  <br />

                  <button type="submit" class="btn btn-secondary text-uppercase">
                    Send
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- For showing error, while licence number doesnt match with database -->
      <% if (typeof error !='undefined' ) { %>
        <script>
          alert("No user found, Please register your vehicle.");
        </script>
        <% } %>

          <!-- Footer-->
          <%- include('layout/footer.ejs'); -%>

            <!-- Scripts  -->
            <%- include('layout/script.ejs'); -%>
  </body>
  <!-- To fetch and populate form data -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Fetch user data from the API
      fetch('/getUserDataByLicenceNum', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({})
      })
        .then(response => response.json())
        .then(data => {
          if (data.Status == "Pass") {
            alert("Congratulations, You have passed the examination.")
            window.location.href = "/";
          }
          if (data.Status == "Fail") {
            alert("Sorry, You have failed the examination.")
            window.location.href = "/";
          }
          // Populate form fields with received data
          document.getElementById('firstName').value = data.firstName;
          document.getElementById('lastName').value = data.lastName;
          document.getElementById('licenceNumber').value = data.licenceNumber;
          document.getElementById('Age').value = data.Age;
          document.getElementById('Dob').value = data.Dob;
          document.getElementById('make').value = data.carDetails.make;
          document.getElementById('model').value = data.carDetails.model;
          document.getElementById('year').value = data.carDetails.year;
          document.getElementById('platno').value = data.carDetails.platno;
        }

        )
        .catch(error => {
          console.error('Error:', error);
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
      // Fetch Slots Button Click Event
      document.getElementById('fetchSlotsButton').addEventListener('click', function () {
        const selectedDate = document.getElementById('selectedDate').value;
        fetchSlots(selectedDate);
      });
    });

    // Function to fetch slots
    function fetchSlots(selectedDate) {
      fetch('/getAppointmentDetailsFromDate', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ date: selectedDate })
      })
        .then(response => response.json())
        .then(data => {

          // If there is no timeSlot avaialble on selected date, or timeSlot is already booked 
          if (data.data.length == 0 || !data.data[0].isTimeSlotAvailable) {
            alert("No time slots available, Please select another date.")
          }

          // Populate select dropdown with fetched slots
          const appointmentIdSelect = document.getElementById('appointmentId');
          appointmentIdSelect.innerHTML = ''; // Clear previous options

          data.data.forEach(appointment => {
            // Only show time slots that are enable by admin
            if (appointment.isTimeSlotAvailable) {
              const option = document.createElement('option');
              option.value = appointment.time;
              option.textContent = appointment.time;
              appointmentIdSelect.appendChild(option);
            }
          });
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
      // Event listener for the "Book Slot" button
      document.getElementById('bookSlot').addEventListener('click', function () {
        // Extract selected timeslot and date
        const selectedTimeSlot = document.getElementById('appointmentId').value;
        const selectedDate = document.getElementById('selectedDate').value;
        const licenceNumber = document.getElementById('licenceNumber').value;
        // Make a POST request to book the timeslot
        fetch('/bookTimeslot', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ timeSlot: selectedTimeSlot, date: selectedDate, licenceNumber: licenceNumber, typeOfTest: "G2" })
        })
          .then(response => response.text())
          .then(data => {
            // Display success message 
            document.body.innerHTML += data;
            alert("Timeslot booked successfully.");
          })

          .catch(error => {
            console.error('Error:', error);
            // Display error message
            alert("Failed to book timeslot. Please try again later.");
          });
      });
    });
  </script>

</html>