<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('layout/header.ejs'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layout/navbar.ejs'); -%>

        <!-- Page Header-->
            <header class="masthead" style="margin-bottom: 420px">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Login</h1>
                                <p>Under Construction</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

        <!-- Footer-->
        <%- include('layout/footer.ejs'); -%>

        <!-- Scripts  -->
        <%- include('layout/script.ejs'); -%>
    </body>

</html>