<!-- Footer code  -->

<footer class="border-top">
    <div class="container px-4 px-lg-5">
       
        <section class="d-flex justify-content-center">
            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        
            <!-- Google -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-google fa-2x"></i>
            </a>
        
            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        
            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
        
            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </section>
        
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="small text-center text-muted fst-italic">Copyright &copy; Drive Test 2024 @ Priyanshu </div>
            </div>
        </div>
    </div>
</footer>